body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #030846bd;
}

@media screen and (orientation:portrait) {
  .screen-rotate-warning {
    display: block;
  }
}

@media screen and (orientation:landscape) {
  .screen-rotate-warning {
    display: none;
  }
}