.tile {
  display: inline-flex;
  background-color: black;  
}

.eagle {
  background-image: url('/tiles/eagle.png');
  background-repeat: no-repeat;
}

.rock {
  background-image: url('/tiles/rock.png');
  background-repeat: no-repeat;
}

.wall {
  background-image: url('/tiles/wall.png');
  background-repeat: no-repeat;
}

.boom {
  background-image: url('/tiles/boom.png');
  background-repeat: no-repeat;
}

.shelter {
  background-image: url('/tiles/shelter.png');
  background-repeat: no-repeat;
}

.tree {
  background-image: url('/tiles/tree.png');
}

.chest {
  background-image: url('/tiles/chest.png');
}

.grass {
}

.crossable-grass {
  background-image: url('/tiles/crossable-grass.png'); 
}

.rock-cube {
  background-image: url('/tiles/rock-cube.png');
  background-repeat: no-repeat;
}

.wall-cube {
  background-image: url('/tiles/wall-cube.png');
  background-repeat: no-repeat;
}

.shelter-cube {
  background-image: url('/tiles/shelter-cube.png');
  background-repeat: no-repeat;
}
